@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.connect {
  width: 170px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.connect-modal {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.modal-text {
  font-size: 16px;
  line-height: 20px;
}
.modal-item {
  gap: 135px;
  width: 469px;
  height: 68px;
  display: flex;
  flex-shrink: 0;
  padding: 12px 20px;
  align-items: center;
  border-radius: 12px;
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  justify-content: space-between;
}
.left-margin {
  margin-left: 16px;
}
.icon-text {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  line-height: 23px;
  font-style: normal;
  font-family: 'Sora';
}
footer {
  color: white;
  background: #1D1D1E;
}
.top-margin {
  margin-top: 20px;
}
.icons {
  margin-top: 96px;
  margin-bottom: 73px;
}
.size {
  width: 18px;
  height: 14.62px;
}
.footer-headers {
  font-size: 18px;
  font-weight: bolder;
}
.footer-text {
  font-size: 14px;
}
.rent {
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
.purple {
  color: #A02279;
}
.we {
  font-size: 24px;
  line-height: 35px;
}
.input {
  height: 54px;
  width: 390px;
  font-size: 14px;
  line-height: 130%;
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
  background: rgba(247, 247, 247, 0.1);
}
.button {
  height: 54px;
  width: 230px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 19px;
  border-radius: 0px 8px 8px 0px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
}
.learn-button {
  height: 48px;
  width: 156px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 8px;
  margin-bottom: 251.45px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}
.learn-button:hover {
  color: purple;
}
.img-flex {
  display: flex;
  margin-right: 19px;
}
.column-img {
  width: 100%;
  margin-bottom: 8px;
}
.rent-col {
  margin-top: 39px;
}
.img-col {
  margin-right: 8px;
}
.purple-bg {
  color: white;
  background-color: #A02279;
}
.mbtoken {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 27px;
  align-items: center;
  letter-spacing: 0.02em;
  font-family: './AirbnbCereal_W_Bd.otf';
}
.opensea {
  width: 148px;
  height: 39px;
  display: flex;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 96%;
  font-style: normal;
  align-items: center;
  letter-spacing: -0.03em;
  font-family: 'Poppins', sans-serif;
}
.purple-bg-icon {
  margin-left: 138.77px;
}
.inspiration {
  font-size: 48px;
  color: #000000;
  font-weight: 700;
  line-height: 60px;
}
.desert {
  font-size: 12px;
  color: #434343;
  line-height: 13px;
}
.frame {
  border-radius: 15px;
  border: 1px solid #D7D7D7;
}
.nft-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-top: 186px;
}
.discover-nft {
  font-size: 18px;
  line-height: 35px;
  margin-right: 122px;
}
.nft-img {
  margin-top: 100px;
  margin-bottom: 99.15px;
}
.style-card {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.one-mbt {
  font-weight: bold;
}
.km-away {
  margin-top: 10px;
}
.star {
  margin-top: 9px;
}

@media (min-width : 0px) and (max-width:767px){
  .modal-item {
    width: 347px;
    height: 136px;
  }
  .left-margin {
    margin-left: 24px;
  }
  .img-flex{
    display: grid;
  }
  .purple-bg-icon {
    margin-left: 70px;
  }
  .learn-button {
    margin-bottom: 25px;
  }
}

@media (min-width : 768px) and (max-width:2000px){
  .purple-bg-icon {
    margin-left: 90px;
  }
}
