@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600&display=swap'); 
.connect {
  width: 170px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 10px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.connect-modal {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.modal-text {
  font-size: 16px;
  line-height: 20px;
}
.modal-item {
  gap: 135px;
  width: 469px;
  height: 68px;
  display: flex;
  flex-shrink: 0;
  padding: 12px 20px;
  align-items: center;
  border-radius: 12px;
  background: #F8F9FA;
  border: 1px solid #CFD8DC;
  justify-content: space-between;
}
.left-margin {
  margin-left: 16px;
}
.icon-text {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
footer {
  color: white;
  background: #1D1D1E;
}
.top-margin {
  margin-top: 20px;
}
.icons {
  margin-top: 96px;
  margin-bottom: 73px;
}
.size {
  width: 18px;
  height: 14.62px;
}
.footer-headers {
  font-size: 18px;
  font-weight: bolder;
}
.footer-text {
  font-size: 14px;
}

@media (min-width : 0px) and (max-width:767px){
  .modal-item {
    width: 347px;
    height: 136px;
  }
  .left-margin {
    margin-left: 24px;
  }
}
